@import './base.css';
@import "tailwindcss";

#app {
  margin: 0 auto;
  font-weight: normal;
}
.app-layout {
  display: flex;
  min-height: 100vh;
}
.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.sidebar {
    width: 20%;
}
@media (max-width: 1441px) {
  .app-layout {
    max-width: 100%;
  }
}