@import './base.css';
@import "tailwindcss";

#app {
  margin: 0 auto;
  font-weight: normal;
  background-color: var(--color-background);
}

.app-layout {
  display: flex;
  min-height: 100vh;
}

@media (max-width: 1441px) {
  .app-layout {
    max-width: 100%;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar {
    width: 20%;
}
/* .sidebarItem:hover { */
  /* background-color: #fbe3c0 !important;
} */

.avatar-background {
  background-color: #fbe3c0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.temp, .humidity, .pressure, .outsi {
  width: 25%;
  padding: 10px;
  text-align: center;
}

.temp {
  background-color: #fbe3c0;
  border-radius: 10px;
}

.outside {
  background-color: #F1E9C6;
  border-radius: 10px;
  padding: 1rem;
}



/* WRITING */

h1, h2, h3, h4, h5, h6 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  color: #222;
}

h1 {
  font-size: 2.5em;
  padding-bottom: 0.3em;
}

h2 {
  font-size: 2em;
  padding-left: 10px;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
  font-style: italic;
}

h5 {
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h6 {
  font-size: 1em;
  font-weight: normal;
}
