@import './base.css';
@import "tailwindcss";

#app {
  margin: 0 auto;
  font-weight: normal;
  background-color: var(--color-background);
}

.app-layout {
  display: flex;
  min-height: 100vh;
}

@media (max-width: 1441px) {
  .app-layout {
    max-width: 100%;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar {
    width: 20%;
}

.avatar-background {
  background-color: #fbe3c0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.temp, .humidity, .pression, .outsi {
  width: 25%;
  padding: 10px;
  text-align: center;
}

