*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-background: #FFF2D6; /* background */
  --color-sumato-ivoiry: #FAF8F4; /* ivoire */
  --color-sumato-coral: #FF6B5E; /* corail */
  --color-sumato-anthracite: #2E2E2E; /* writing */
  --color-sumato-comfort: #62C370; /* green */
  --color-sumato-alert: #F25C54; /* red */
  --color-sumato-neutral: #ACD0CD; /* blue */
  --color-sumato-light-orange: #F9E0BD; /* avatar */
  --color-sumato-background: #FFF2D6; /* background */
  --color-sumato-orange: #E25B2A; /* orange */
  --color-sumato-orange-hover: #F07A4D; /* orange hover */
  --color-sumato-pressure: #FCD490; /* pressure */
  --color-sumato-connected-devices: #F5DEB4; /* connected devices */
}
