@import './base.css';
@import "tailwindcss";
@import "./datatable.css";
@import "./skeleton.css";
@import "./accordion.css";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-sumato-ivory);
  color: var(--color-sumato-text);
  overflow-y: hidden;
  max-height: 100vh;
}

#app {
  margin: 0 auto 2rem auto;
  font-weight: normal;
  background-color: var(--color-sumato-surface);
}

.sidebarItem:hover {
  background-color: var(--color-primary);
  color: white;
}

@media (max-width: 768px) {
  .title {
    justify-content: center;
    margin: 0;
  }
}

.dot {
  transition: transform 0.3s ease-in-out;
}

.buttonUser:hover {
  background-color: var(--color-sumato-alert);
  color: white;
  border: none;
}

/* WRITING */

h1, h2, h3, h4, h5, h6 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  color: #222;
}

h1 {
  font-size: 2.5em;
  padding-bottom: 0.3em;
}

h2 {
  font-size: 2em;
  padding-left: 10px;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
  font-style: italic;
}

h5 {
  font-size: 1.25em;
  letter-spacing: 1px;
  font-style: italic;
}

h6 {
  font-size: 1em;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, span {
  color: var(--color-sumato-text);
}

/* FORM ELEMENTS */
select, input, textarea {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--color-sumato-neutral);
  background-color: var(--color-sumato-surface);
  color: var(--color-sumato-text);
}

li {
  list-style: none;
}

button, .button {
    color: var(--color-sumato-text);
    border: 1px solid var(--color-sumato-neutral);
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

button:hover {
  background: var(--color-sumato-ivory);
}

[data-theme="dark"] .SumatoIcon { filter: invert(1); }
[data-theme="light"] .SumatoIcon { filter: invert(0); }

[data-theme="dark"] .img_light { display: none; }
[data-theme="light"] .img_dark { display: none; }